
<!-- CODIGO FUNCIONANDO
<h1>El tema es:  </h1>
<input type="text" [(ngModel)]="tema" placeholder="Ingrese un tema">
<app-cuestionario [tema]="tema" (emiterCuestionario)="funcionContador()" ></app-cuestionario>

{{contador}}
-->

<h1>El tema es:  </h1>
<input type="text" [(ngModel)]="temaEnTema" placeholder="Ingrese un tema">
<app-cuestionario [temaEnCuestionario]="temaEnTema" (emiterCuestionario)="funcionContador()" ></app-cuestionario>

<!-- <app-traer-un-helado [idHelado]="temaEnTema"></app-traer-un-helado> -->


{{contador}}