<div class="button-row">

<button mat-stroked-button  (click)="AltaHelado()">Dar de alta helado</button>

<button  mat-stroked-button  (click)="MostrarUnHelado(htmlIdHelado)">Traer 1 helado</button>
</div>
<br>
<input matInput [(ngModel)]="htmlIdHelado" placeholder="Ingrese id de helado" name="idHelado" type="text"  />


  <div *ngIf="unHelado" >
  ID: {{unHelado.id_helado}} <br> 
  SABOR: {{unHelado.Sabor}} <br>
  FOTO
  <br>
  <img src="assets/imagenes/{{unHelado.id_helado}}.JPG" >


  </div>


