  <!-- <ng-container>

          <th>Id</th>
          <th>Sabor</th>
          <th>Tipo</th>
          <th>Kilos Restantes</th>
          <th>Foto</th>
          <th>Borrar</th>
            <th>Mostrar</th>-->

<!-- 
          <td *ngIf="helado.RutaDeFoto"><img src='../../../assets/imagenes/{{helado.id_helado}}.JPG' width="50px"/> </td>
          <td *ngIf="!helado.RutaDeFoto"><img src='../../../assets/imagenes/default.png' width="50px"/> </td> -->

          <!-- <td><app-borrar-mascota [id]="mascota.id"></app-borrar-mascota></td> -->
          <!--<td><button (click)="enviar(mascota)">Mostrar</button> </td>-->
     <!--   </tr>
      </tbody>
    </table>
  </ng-container> -->

  <app-tabla-mat></app-tabla-mat>