<ng-container>
	<input [(ngModel)]="nombre" id="nombre" type="nombre" name="nombre" placeholder="nombre" style="margin-left: 2.5%;">
	<button (click)="buscar()">Buscar</button>
	<!-- <div style="float:right; min-width: 40%; margin: 2.5%;">
		<div style="padding: 6%;">Editar: <input id="mostrarFormAlta" type="checkbox" name="mostrarFormAlta" (change)="mostrarForm($event)"><br><br></div>
		<div id="formAlta" style="visibility: hidden; border:solid; padding: 2%;">
			Nombre:<br><input type="text" name="nombremascota" id="nombremascota" [(ngModel)]="mascota.nombre"><br>
			Sexo:<br>
			<select name="sexomascota" id="sexomascota" [(ngModel)]="mascota.sexo">
				<option value="" disabled>Seleccione</option>
				<option value="femenino">femenino</option>
				<option value="masculino">masculino</option>
			</select><br>
			Mail:<br><input type="text" name="mailmascota" id="mailmascota" [(ngModel)]="mascota.mail"><br>
			Password:<br><input type="password" name="passwordmascota" id="passwordmascota" [(ngModel)]="mascota.password"><br><br><br>
			<button (click)="guardar()">Guardar</button>
		</div>
	</div>-->
</ng-container>