
<!-- Codigo funcionando
<h1>El cuestionario es: </h1>
<input type="text" [(ngModel)]="cuestionario" placeholder="Ingrese una pregunta">
<app-pregunta [tema]="tema" [cuestionario]="cuestionario" (emiterPregunta)="funcionCuestionario()"></app-pregunta>
-->

<h1>El cuestionario es: </h1>
<input type="text" [(ngModel)]="cuestionarioEnCuestionario" placeholder="Ingrese una pregunta">
<app-pregunta [temaEnPregunta]="temaEnCuestionario" [cuestionarioEnPregunta]="cuestionarioEnCuestionario" (emiterPregunta)="funcionCuestionario()"></app-pregunta>