.tabla-negra{
    background-color: rgba(10, 10, 10, 0.774);
    color: ghostwhite;
    
}
.input-ingreso{
    background-color: rgba(12, 12, 71, 0.671);
    color: azure;
}
.form-ingreso{
    background-color: rgba(10, 10, 10, 0.774);
    color: ghostwhite;
    
}