<!-- <router-outlet></router-outlet> -->


<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      PrimerParcialLabIV
    </h1>
  </div>
  
  <mat-tab-group dynamicHeight>
    <mat-tab label="Lista de Helados">
      <div class="example-large-box mat-elevation-z4">
        <app-listado-helados></app-listado-helados> 
      </div>
    </mat-tab>
    <mat-tab label="Funciones Helados">
      <div class="example-small-box mat-elevation-z4">
        <app-traer-un-helado ></app-traer-un-helado> 
      </div>
    </mat-tab>
  </mat-tab-group>



  <!-- <app-busqueda-mascota (enviarDato)="mostrar($event)"></app-busqueda-mascota>
  <app-mostrar-mascota [mascotas]="mascotas"></app-mostrar-mascota> -->
  <!-- <app-mostrar-mascota [mascota]="mascota"></app-mostrar-mascota> -->