
<body>


<div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/inteligencia.jpg" alt="Avatar" style="width:20%">
      <button class="button"  (click)="Juego('Agilidad')">Jugar</button>
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
              
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="./assets/imagenes/Piedra-papel-y-tijera-en-las-artes-marciales.png" alt="Avatar" style="width:20%">
      <button class="button"  (click)="Juego('PPT')">Jugar</button>
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
                 
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="./assets/imagenes/sistema-de-plantillas-del-papel-coloreado-con-números-y-un-signo-de-interrogación-96141498.jpg" alt="Avatar" style="width:20%">
      <button class="button"  (click)="Juego('Adivina')">Jugar</button>
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
                
    </div>

    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/logoBuscaMinas.png" alt="Avatar" style="width:20%">
      <button class="button"  (click)="Juego('BuscaMinas')">Jugar</button>
      <h1>Busca Minas </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
              
    
    </div>

    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/scrabble-tiles.jpg" alt="Avatar" style="width:20%">
      <button class="button"  (click)="Juego('anagrama')">Jugar</button>
      <h1>Anagrama</h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
              
    
    </div>

    <div class="card">
      <img class="img-thumbnail"   src="./assets/imagenes/tateti.jpg" alt="Avatar" style="width:20%">
      <button class="button"  (click)="Juego('tateti')">Jugar</button>
      <h1>Ta-Te-Ti</h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
              
    
    </div>


  </div>

</body>