

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');




*{
    font-family: 'Gloria Hallelujah', cursive;
}





.card{
    position: relative;
    display: block;
    width: 100%;
    background-color: rgb(81, 162, 228);
    margin: 10px;

}

.card,img{
    float: left;
}


/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: 200px;
    height: 200px;
}/* Add some padding inside the card container */
/*
.container {
    padding: 2px 16px;
}*/


.button{
    margin-right: 1px;
    float: right;
    width: 150px;
    height: 150px;;
    padding: 5px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    
    color: #fff;
    background-color: rgba(182, 255, 10, 0.89);
    border: none;
    border-radius: 15px;
    /*box-shadow: 0 9px #999;*/

    border: none;
    outline: 10;
 
    padding: 8px;
    color: white;
   /* background-color: #000;*/
    text-align: center;
    /*cursor: pointer;*/
    margin-top: 25px;
    overflow:hidden;
    margin-right: 25px;
  
  }
  
  .button:hover {
       -webkit-transform:scale(1.3);transform:scale(1.3);
    
    }
  
  .button:active {
    background-color: #eb5b08;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  h1{
    margin-top: 1px;
}
.mensaje
{
    margin-top: 5px;
    height: 30px;
    width: 100%;
   
}
body 
{
    background-color: rgb(81, 162, 228);
    background-image: url("/assets/imagenes/fondo.gif");  
  
    
}