<body>


  <!--                               //////////////////////////////////                        -->


<div class="row">
<div class="cont-login col-4">

  <div class="row justify-content-center">
    <form [formGroup]="registroForm" (ngSubmit)="Ingresar()">
    <div class="form-group">
    
  <input class="form-control" placeholder="Email" type="email" id="mail"  name="mail" [formControl]="email" required
  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placement="right" ngbPopover="Mail es requerido" >
  </div>
  <div class="form-group">
  
  <input class="form-control " placeholder="Clave" type="password"  name="psw"  [formControl]="clave" required >
</div>

<button type="submit" class="btn btn-success" [disabled]="!registroForm.valid">Login</button>
  
    <button class="btn btn-primary" (click)="Registro()" >Registrarse</button>

  </form>
  
</div>
  </div>
  <div class="IngresoRapido"> 
    <button class="btn btn-primary" (click)="IngresoRapido('admin')">admin</button>
    <button class="btn btn-primary"  (click)="IngresoRapido('mozo1')">mozo1</button>
    <button class="btn btn-primary"  (click)="IngresoRapido('cocina1')">cocina1</button>
    <button class="btn btn-primary"  (click)="IngresoRapido('barra1')">barra1</button>
    <button class="btn btn-primary"  (click)="IngresoRapido('candy1')">candy1</button>
    <button class="btn btn-primary"  (click)="IngresoRapido('chopera1')">chopera1</button>
    <button class="btn btn-primary"  (click)="IngresoRapido('cliente1')">cliente1</button>
  </div>


</div>


</body>